/* Nav Custom CSS */

@media (min-width: 992px) {
    nav {
        height: 100px;
    }
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-brand {
        display: block;
        position: relative;
        top: 27px;
        left: -10px;
    }
}

nav {
    box-shadow: 0 0 10px #ccc;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #fff;
}

.nav-link {
    border-bottom: 2px solid #fff;
    transition: 0.3s;
}
.nav-link:hover {
    border-bottom: 2px solid red;
}

/* Headers and Page Content */
h1 {
    font-family: "Montserrat", sans-serif;
    color: red;
    text-transform: uppercase;
    /*text-shadow: 2px 2px 7px #999;*/
}
h3, h4 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #075C91;
}
h3, h4 {
    letter-spacing: 3px;
}
h5 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1C95DE;
}
p {
    font-family: "Montserrat", sans-serif;
    color: #555;
    line-height: 1.7;
}
p:last-child {
    padding-bottom: 20px;
}
blockquote > p:last-child {
    padding-bottom: 0;
}
#social-feed {
    background: #fff;
}
.container {
    padding-top: 50px;
    padding-bottom: 50px;
}
#sacramento-cincy {
    font-family: "Sacramento", script;
    font-size: 70px;
    text-transform: none;
}
.btn-danger a {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
}
@media (max-width: 992px) {
    .btn {
        margin-bottom: 5px;
        display: inline-block;
    }
}
.card {
    transition: 0.7s;
    border-radius: 0;
}
.card:hover {
    box-shadow: 0 0 20px #777;
    transform: scale(1.1);
}
.card-img-top {
    border-radius: 0;
}

#cards {
    background: #ccc;
}

#map {
    width: 100%;
    height: 450px;
    border: none;
}
footer {
    background: #555;
}
footer p {
    color: #fff;
    text-align: center;
}
#footer-logo {
    display: block;
    margin: 0 auto;
}
.card-group {
    margin-left: 15px;
    margin-right: 15px;
}
.card > .col-12,.col-md-4 {
    padding: 0;
}
@media (min-width: 992px) {
    #old-photos {
        display: block;
        left: -60px;
        top: -30px;
        position: absolute;
        width: 500px;
        height: 401px;
    }
    #home-first-content-blk {
        background-color: rgba(255, 255, 255, 0.7);
        display: block;
        padding-bottom: 20px;
    }
}
@media (max-width: 992px) {
    #old-photos {
        width: 100%;
        height: auto;
    }
}
.history-text {
    background-color: rgba(255, 255, 255, 0.5);
}
.container-every-other {
    background: rgb(235, 235, 235);
}
.blockquote {
    border-top: 1px solid #075C91;
    border-bottom: 1px solid #075C91;
    padding: 20px 0;
}
#our-story img {
    display: block;
    width: 100%;
}
.container-our-story {
    position: relative;
    text-align: center;
    height: 450px;
    overflow: hidden;
    padding: 0;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#our-story-photo {
    width: 100%;
}
#our-story-h1 {
    color: #fff;
    font-family: "Sacramento", cursive;
    text-shadow: 3px 3px 10px #000;
    text-transform: none;
    font-size: 72pt;
}